div {
  margin: 10px auto 25px;
  text-align: center;
}

img {
  width: 340px;
  height: 480px;
}
h2, h3 {
  font-weight: 600;
  color: #000;
  text-align: center;
}

li {
  padding-top: 10px;
}

.text {
  text-align: left;
}

.def {
  font-weight: 600;
  color: #000;
  font-size: 18px;
}

@media (max-width: 450px) {

  img {
    width: 100%;
    height: 100%;
  }
}
